/* BASIC STYLES HERE */
.volume {
    min-height: 25vh;
    max-height: 33vh;
}

.poppin:hover {
    transform: scale(1.005);
}

.text {
    text-shadow: 2px 2px #000;
}

.clock {
    text-shadow: 3px 3px #000;
}

.todo:hover {
    background-color: rgba(39, 39, 167, 0.3);
}